.content {
    margin: 0.1em;
}

.rolldice {
    font-size: 300%;
    text-align: center;
}

.success {
    font-size: 600%;
    text-align: center;
    font-weight: bold;
    background-color: lightgreen;
}

.fail {
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    padding: 2em 0;
    background-color: lightgrey;
}

.botched {
    background-color: pink;
}

select {
    margin-top: 0.6em;
    margin-bottom: 1.2em
}

.big-button {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1.2em
}

footer {
    margin: 2em;
    font-size: 60%;
    text-align: center;
}

.small-legend {
    text-align: center;
    font-size: 90%;
    background-color: lightgreen;
    padding-bottom: 1em;
}