.content {
    margin: 0.1em;
}

.rolldice {
    font-size: 300%;
    text-align: center;
}

.result {
    font-size: 800%;
    text-align: center;
    font-weight: bold;
}

.botched {
    background-color: pink;
    font-size: 200%;
}

button {
    margin-top: 0.6em;
    margin-bottom: 2em;
}